<p>
  <strong>Name:</strong>
  <%= feedback.name1 %>
</p>
 
<p>
  <strong>Feedback:</strong>
  <%= feedback.body %>
</p>
 
<p>
  <%= link_to 'Destroy Feedback', [feedback.comment, feedback],
               method: :delete,
               data: { confirm: 'Are you sure you want to delete feedback?' } %>
</p>